$color1 : #4a4c65;
$color2 : #766df4;
$color3 : rgba(255,255,255,.7);
$color4 : #5a5b75;
$color5 : #493ee7;
$color6 : rgb(158, 159, 180);
$text-color : rgb(74, 75, 101);
$color7 : rgb(158, 159, 180);
$color8 : rgb(118, 109, 244);
$color9 : rgb(90, 91, 117);
$border-color : rgba(88, 77, 245, 0.603);
$bg-footer : rgb(55, 56, 78);
$color10 : rgb(115, 116, 145);



@mixin span {
    span{
        border-radius: 15px;
        color: $color8;
        background-color : rgba(118, 109, 244, 0.08) !important;
    }
}


@media screen and (max-width : 992px) {
    .input-group{
        width: 85% !important;
    }

    .img-brand-header{
        width: 60px !important;
    }

    .sec-one{
        height: 1500px !important;
    }

    .sec-left{
        margin-top: 150px;
    }

    .bi-arrow-down-short{
        right: 80px;
    }

    .div-relative{
        right: 0px !important;
        left: 130px !important;
    }

    .h1-text-color{
        font-size: 38px !important;
    }
}

// @media screen and (max-width : 885px) {
//     .h1-text-color2{
//         font-size: 30px !important;
//     }
// }

@media screen and (min-width : 992px) {
    .dd-h-100{
        height: 100%;
    }
}

@media screen and (max-width : 1200px) {
    .div-relative{
        right: 60px !important;
    }

    .col-left-sec-three{
        padding-left: 35px !important;
        padding-right: 35px !important;
    }
}

@media screen and (max-width : 768px) {
    .input-group{
        width: 100% !important;
    }

    .div-relative{
        left: 90px !important;
    }

    .h1-text-color{
        font-size: 35px !important;
    }

    .text-muted-p{
        font-size: 16px !important;
    }

    .container-sec-two{
        padding-top: 70px !important;
        padding-bottom: 120px !important;
    }

    .color-text{
        font-size: 18px;
    }
}

@media screen and (max-width : 576px) {
    .h2-footer{
        font-size: 20px;
    }

    .p-last-footer{
        font-size: 13px !important;
    }

    .h3-footer{
        font-size: 22px !important;
    }

    #btn-one-footer{
        font-size: 15px !important;
    }

    .h4-footer{
        font-size: 18px !important;
    }

    .btn-footer-input{
        font-size: 14px !important;
    }

    input.color-10{
        font-size: 15px !important;
    }

    .h1-text-color3{
        font-size: 25px;
    }

    .p-sec-five{
        font-size: 14px;
    }

    .div-relative{
        left: 0px !important;
    }

    .fs-xsm-6{
        font-size: 13px !important;
    }

    .sec-one{
        height: 750px !important;
    }

    .h1-sec-one{
        font-size: 22px !important;
    }

    .bi-arrow-down-short{
        right: 0px !important;
    }

    .sec-left{
        margin-top: 100px !important;
    }

    .h1-text-color{
        font-size: 28px !important;
    }

    .color-text{
        font-size: 17px !important;
    }

    .col-left-sec-three{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    h3.h6.text-white.mt-3{
        font-size: 15px;
    }

    .p-sec-three{
        font-size: 15px;
    }

    .h1-text-color2{
        font-size: 26px;
    }

    .p-sec-four{
        font-size: 14px;
    }
}

@media screen and (max-width : 420px) {
    .h2-footer{
        font-size: 18px;
    }

    .p-last-footer{
        font-size: 12px !important;
    }

    .h3-footer{
        font-size: 20px !important;
    }

    #btn-one-footer{
        font-size: 12px !important;
    }

    .h4-footer{
        font-size: 17px !important;
    }

    .btn-footer-input{
        font-size: 12px !important;
    }

    input.color-10{
        font-size: 12px !important;
    }

    .input-group{
        height: 35px !important;
    }


    .h1-sec-three{
        font-size: 20px;
    }

    .p-sec-three{
        font-size: 12px;
    }

    h3.h6.text-white.mt-3{
        font-size: 13px;
    }

    .h1-text-color2{
        font-size: 21px !important;
    }

    .p-sec-four{
        font-size: 13px !important;
    }

    .h1-text-color3{
        font-size: 22px;
    }

    .p-sec-five{
        font-size: 13px;
    }

    .h4-sec-five{
        font-size: 17px;
    }

    .a-sec-five{
        font-size: 13px;
    }
}

@media screen and (max-width : 300px) {
    .h1-text-color2{
        font-size: 19px !important;
    }

    .h1-text-color3{
        font-size: 18px;
    }

    .p-sec-five{
        font-size: 12px;
    }

    .btn-footer-input{
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
}

body{
    overflow-x: hidden !important;
}


.btn-header-buy{
    background-color: $color2;
    border: 1px solid $color2;
    border-radius: 15px;
    font-weight: 500;
    font-size: 17px;
    padding: 10px;
    transition: all .5s;
    &:hover{
        background-color: $color5;
        border-color: $color5;
    }
}


header#one{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(77,79,104,1) 0%, rgba(50,51,71,1) 100%);
    .img-brand-header{
        width: 150px;
    }
    
    .navbar-nav li{
        a.nav-link{
            color: $color3;
            font-size: 17px;
            transition: all .5s;
            &:hover{
                color: #fff !important;
            }
        }
    }
}

.a-drop{
    color: $color4 !important;
    text-decoration: none;
    font-weight: 500;
    font-size: 14.7px !important;
    &:hover{
        color: $color5 !important;
    }
}

.drop{
    position: absolute;
    top: 70px;
    left: -10px;
    width: 780px;
    height: 320px;
    z-index: 10000;
    .row{
        overflow: hidden;
        border-radius: 15px;
        img{
            border-radius: 15px;
            object-fit: cover;
        }
    }
}

#drop2{
    height: 420px !important;
    // padding: 12px !important;
}

.mar{
    margin-top: 14px !important;
}

#drop3{
    width: 200px !important;
    height: 250px !important;
    border-radius: 15px;
    padding: 13px;
    div{
        font-weight: 500;
        color: $color4;
        font-size: 14.7px;
        cursor: pointer;
        &:hover{
            color: $color5;
        }
    }
}

// .icon-drop{
//     font-size: 14px;
// }

.drop-drop{
    left: 175px;
    top: -20px;
    width: 200px;
    border-radius: 15px;
}

#drop4{
    height: 280px !important;
    width: 250px !important;
}

.icon-drop-last{
    color: $color6;
}

.p-drop-last{
    color: $color6;
    font-size: 14px;
}

.text-heading{
    color: #4a4b65;
}

.rows-drop{
    cursor: pointer;
}

.span-drop{
    font-size: 12px;
    right: 10px;
    top: 6px;
    padding-left: 10px;
    padding-right: 10px;
}

#span-one{
    padding-left: 8px !important;
    padding-right: 8px !important;
    right: 75px !important;
    top: 1px !important;
}

.navbar-toggler-icon{
    color: #fff !important;
}

.my-modal{
    height: 100vh;
    width: 22rem;
    background-color: #fff;
    position: absolute;
    left: -400px;
    transition: left .6s;
    & span:nth-child(1){
        color: rgb(74, 75, 101);
        font-weight: 700;
        font-size: 22px !important;
    }

    & span:nth-child(2){
        color: $color6;
        cursor: pointer;
        font-size: 18px;
    }
}

.container-modal{
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
}

.row-one-sec{
    padding-left: 65px;
    padding-right: 65px
}

.sec-one{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(77,79,104,1) 0%, rgba(50,51,71,1) 100%);
    height: 900px;
}

.bi-arrow-down-short{
    border: 2px solid $color4;
    width: 55px !important;
    height: 55px !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.spana{
    right: -140px;
    width: 120px;
    font-size: 18px;
    font-weight: 500;
}

.divs{
    box-shadow: 0px 0px 10px 5px #343547;
}


.row-one-sec-two{
    .h1-text-color{
        color: $text-color;
        font-size: 44px;
        @include span();
    }
    .text-muted-p{
        color: $color7;
        font-size: 17px;
    }
}

.color-text{
    color: $text-color;
}

.text-muted-one{
    color: $color7;
    font-size: 14px;
}

.col-img{
    a{
        transition: all .4s;
        &:hover{
            h3{
                color: $color8 !important;
            }
        }
    }
    img{
        transition: all .4s;
        &:hover{
            box-shadow: none !important;
            border: .2px solid rgb(212, 213, 219);
        }
    }
}

.container-sec-two{
    padding-top: 120px;
    padding-bottom: 140px;
}

.sec-three{
    background: linear-gradient(to right, #766df4 0%, #766df4 30%, #6a9bf4 100%);
    padding-top: 130px;
    padding-bottom: 120px;
}

.p-sec-three{
    color: rgba(255, 255, 255, .6);
}

.btn-sec-three{
    background-color: #16c995;
    border-radius: 14px;
    font-weight: 500;
    padding-left: 26px;
    padding-right: 26px;
    transition: all .4s;
    margin-top: 30px;
    &:hover{
        background-color: #29ac86;
    }
}

.h1-text-color2{
    color: $text-color;
    @include span();
}

.p-sec-four{
    color: $color7;
}

.span-sec-four{
    color: $color9;
}

.sec-four{
    padding-bottom: 120px;
    padding-top: 120px;
}

.h1-text-color3{
    color: $text-color;
    @include span();
}

.sec-five{
    padding-top: 85px;
    padding-bottom: 85px;
}

.p-sec-five{
    color: $color6;
}

.h4-sec-five{
    color: $text-color;
}

.a-sec-five{
    text-decoration: none;
    color: $color8;
    font-weight: 500;
    transition: all .4s;
    &:hover{
        color: rgb(6, 37, 175) !important;
    }
}

.ul-sec-five{
    list-style: none;
    padding: 0;
    li{
        margin-top: 20px;
    }
}

.img-sec-five{
    width: 70px;
}

.col-sec-five{
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid $border-color;
    opacity: 58%;
    transition: all .2s;
    &:hover{
        opacity: 1;
    }
    a{
        text-decoration: none;
    }
    .text-sec-five{
        color: $color9 !important;
        font-size: 14px;
        font-weight: 500;
    }
}

.col-sec-five.active{
    opacity: 1;
    border-width: 2px !important;
}

footer{
    background-color: $bg-footer;
    padding-top: 80px;
    padding-bottom: 20px;
    .h3-footer{
        font-weight: 300;
        font-size: 26px;
    }
}

.color-10{
    color: $color10;
}

.p-low-footer{
    font-size: 12px;
}

.a-by-footer{
    color: rgba(255, 255, 255, .8);
    text-decoration: none;
    transition: color .5s;
    font-weight: 500;
    &:hover{
        color: rgba(255, 255, 255, 1);
    }
}